<% provide(:title, "Profile") %>
<h1><%= @user.name %> profile</h1>
<% if !@posts.empty? %>
  <ul>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </ul>
<% else %>
  <p><%= @user.name %> has not created any post yet.</p>
<% end %>
